@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;800;900&display=swap');
    
.Arial, Helvetica, sans-sérif {
    font-family: Arial, Helvetica, sans-serif;
}
.cc-navbar {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 1px 1px 3px;
     }
     .cc-navbar .nav-link {
        border-bottom: 1px solid transparent;
        transition: padding-bottom 0.4s ease-in-out, border-color 0.3s ease;
     }
     .cc-navbar .nav-link:hover {
        padding-bottom: 20px;
        border-bottom-color: rgb(12, 237, 188) ;
       
     }
     .banner {
        background: linear-gradient(rgb(2, 1, 1), black);
        height: 600px;
     }
     .btn-order {
        color: rgb(14, 217, 176);
        border-color: rgb(8, 220, 170);
        transition: 0.5s;
    }
    .btn-order:hover,
    .btn-order:active {
        color: white;
        background-color: rgb(4, 138, 111);
    }
    .col-md-6 img {
        width: 50%;
        height: 70%;
        

    }
    .col-md-6 h1 {
        color: white;
        font-size: 30px;

        
    }
    .profil {
        height: 500px;
    }
    .parcours professionnels {
        height: 500px;

    }
    .card{
        border: none;
        outline: none;
        -webkit-box-shadow: -8px 6px 89px -65px rgba(0,0,0,75);
        -moz-box-shadow: -8px 6px 89px -65px rgba(0,0,0,75);
        box-shadow: -8px 6px 89px -65px rgb(3, 115, 89);
        

    }
    .form-label{
        background-color: aquamarine;
    }
    .form-control{
        background-color: aquamarine;
    }
    .btn{
        background-color: rgb(53, 216, 162);
    }
    .pied{
        text-align: center;
        background-color: aquamarine;
        
    }
    
